body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    position: fixed;
    top: 0;
    left: 0;
}